.fighter-preview___root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fighter-preview___right{
  align-items: center;
  text-align: center;
  color: black;
}

.fighter-preview___left {
  align-items: center;
  text-align: center;
  color: black;
}
.fighter-preview___img{
  height: 200px;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.info-description{
  font-size: 25px;
  color: aliceblue;
}